<section class="content sections about">
    <!-- This section is for the about content -->

    <h1>About Me</h1>
    <!-- This is the heading for the about section -->

    <p>Hey there! I'm Michael Ikonomou, a software developer with a passion for learning and tackling problems. I'm based out of Minneapolis but I can work remotely.</p>
    <!-- This paragraph introduces the author and provides some information about them -->

    <p>Check out my projects on GitHub:</p>
    <!-- This paragraph prompts the user to check out the author's projects on GitHub -->

    <a class="work-link" target="_blank" href="https://github.com/IkonicRes/">GitHub Profile</a>
    <!-- This is a link to my GitHub profile -->

    <a class="work-link" target="_blank" href="https://IkonicRes.github.io/Portfolio/">Portfolio</a>
    <!-- This is a link to my portfolio website -->

</section>
<!-- This is the end of the about section -->
