<section class="content sections about">
      <h1>About Me</h1>
  <p>Hey there! I'm Michael Ikonomou, a software developer with a passion for learning. I'm based out of Minneapolis but I can work remotely.</p>

  <p>Check out my projects on GitHub:</p>
  <a class="work-link" target="_blank" href="https://github.com/IkonicRes/">GitHub Profile</a>
  <a class="work-link" target="_blank" href="https://IkonicRes.github.io/Portfolio/">Portfolio</a>
</section>