    <section class="sections random-post">
        <h2>
            Feed
        </h2>
        {{#each posts as |post|}}
        <article class="post subsections">
            <h3>{{post.topic.name}}</h3>
            <section class="posts"><p>{{post.text_content}}</p></section>
        </article>
        {{/each}}
    </section>