<aside class="sidebar">
<nav id="sidebar-nav">
    <ul>
        {{!-- here we will put some social things, maybe the highest posts? --}}
    </ul>
</nav>
</aside>  
{{#if user}}
  <p>Welcome, {{user.username}}!</p>
  <!-- Display feed content for authenticated users -->
    <section class="sections random-post">
        <h2>
            Feed
        </h2>
        {{#each posts as |post|}}
        <article class="post subsections">
            <h3>{{post.topic.name}}</h3>
            <section class="posts"><h4>{{post.text_content}}</h4></section>
        </article>
        {{/each}}
    </section>
{{else}}
  <p>Please log in or sign up to access this content.</p>
  <!-- Display message for unauthenticated users -->
{{/if}}
