    <section class="posts">
        {{#each posts as |post|}}
        <article class="post subsections">
            <h2>Topic: {{post.topic.name}}</h2>
            <p>{{post.text_content}}</p>
        </article>
        {{/each}}
    </section>