:root {
    /* COLORS */
        /* BACKGROUND COLORS */
        --menu-bkgcolor: black;
        /* TEXT COLORS */
        --main-textcolor: rgb(181, 241, 255);
        /* SHADOW COLORS */
        --shadowcolor: gold;
    /* TEXT EFFECTS */
        --base-textshadow: -1px 1px 1px var(--shadowcolor),
        1px 1px 1px var(--shadowcolor),
        -1px -1px 1px var(--shadowcolor),
        1px -1px 1px var(--shadowcolor);
    /* SIZES  */
        --h1-textsize: 4vw;
        --h2-textsize: 2vw;
        --h3-textsize: 1.5vw;
        --h4-textsize: 1.25vw;
    /* SPACING */
        --h1-margintop: 25vh;
    /* BORDERS */

    /* TRANSFORM */

}